<div class="padding-global-4">
          <div class="container-large-2">
            <div class="padding-section-medium-2">
              <div class="home-cta_component is-left">
                <div class="home-cta_content-wrapper">
                  <h2 sym-bind="{"children":{"type":"Select","val":{"from":{"type":"Variable","val":"data"},"prop":"048665ad-f15b-4b0e-0b77-7612281f1758"}}}" class="h2">First Cup LOCATIONs</h2>
                  <p sym-bind="{"children":{"type":"Select","val":{"from":{"type":"Variable","val":"data"},"prop":"c391f7f9-5ef9-6d7c-1240-b35e52459bec"}}}" class="text-size-medium-3">The First Cup Coffee Company Flagship location is now open to serve you! Online Order Ahead, pass through the Drive-Thru, or come relax in our spacious shop. Check out the First Cup private offices and conference room rentals.</p>
                  <div class="spacer-small-2"></div>
                  <div>
                    <a sym-bind="{"link":{"type":"Select","val":{"from":{"type":"Variable","val":"data"},"prop":"dc360f0c-6563-4497-bd51-d86f61b060bb"}}}" href="#" class="button-1 w-inline-block">
                      <div sym-bind="{"children":{"type":"Select","val":{"from":{"type":"Variable","val":"data"},"prop":"1f83dff0-b3aa-392f-b6ff-e532762b854b"}}}" class="text-block">LEARN MORE</div>
                    </a>
                    <a href="#" class="button-1 w-inline-block">
                      <div sym-bind="{"children":{"type":"Select","val":{"from":{"type":"Variable","val":"data"},"prop":"ae41a742-2943-d5be-4f09-0233684c152a"}}}" class="text-block">ORDER AHEAD</div>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="home-cta-1_background">
          <div class="home-cta-2_background-overlay"></div><img class="home-cta-1_background-image" sym-bind="{"img":{"type":"Select","val":{"from":{"type":"Variable","val":"data"},"prop":"9cbd813d-284e-342e-83a6-3ae2c301da50"}}}" src="{{ '2Q6A9148.jpg' | asset_url }}" alt="" sizes="(max-width: 1162px) 100vw, 1162px" loading="lazy" srcset="{{ '2Q6A9148-p-500.jpg' | asset_url }} 500w, {{ '2Q6A9148-p-800.jpg' | asset_url }} 800w, {{ '2Q6A9148.jpg' | asset_url }} 1162w">
        </div> {% schema %} {
    "tag": "section",
    "name": "Home CTA 2",
    "class": "section_home-cta-2",
    "presets": [
        {
            "name": "Home CTA 2",
            "category": "Liquify",
            "blocks": []
        }
    ]
} {% endschema %}