<div class="padding-global-4">
          <div class="container-xs">
            <div class="padding-section-medium-2">
              <div class="email-signup_content-wrapper">
                <h3 class="text-color-white-2">BE THE first to know</h3>
                <p class="text-size-medium-4 text-color-white-2">Join the First Cup newsletter to be the first to know about new products and offers.</p>
                <div bind="cb0fada3-aafb-d3d0-493f-23e536f17a9f" class="email-signup-form_component w-form">
                  <form id="wf-form-Subscribe" name="wf-form-Subscribe" data-name="Subscribe" method="get" class="form-4" data-wf-page-id="691baada2a7cebd809bbad8b" data-wf-element-id="0068765b-3d69-015e-edd9-48d09ae45708"><input class="text-field w-input" maxlength="256" name="email-2" data-name="Email 2" placeholder="" type="email" id="email-2" required=""><input type="submit" data-wait="Please wait..." class="button-2 w-button" value="SIGNUP"></form>
                  <div class="w-form-done">
                    <div>Thank you! Your submission has been received!</div>
                  </div>
                  <div class="w-form-fail">
                    <div>Oops! Something went wrong while submitting the form.</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div> {% schema %} {
    "tag": "div",
    "name": "Newsletter Signup",
    "class": "section_email-signup",
    "presets": [
        {
            "name": "Newsletter Signup",
            "category": "Liquify",
            "blocks": []
        }
    ]
} {% endschema %}